<ion-view>
  <div class="bar bar-header bar-positive">
    <h1 class="title">User Form</h1>
  </div>
  <ion-content padding="true" class="has-header" ng-controller="UserFromCtrl">
    <form id="user-form" class="list" ng-submit="saveUser()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="userData.firstName">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="userData.lastName">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Gender
          </div>
          <select ng-model="userData.gender">
            <option>Male</option>
            <option>Female</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Birthday</span>
          <input type="date" ng-model="userData.dateOfBirth">
        </label>
      </div>
      <div class="spacer" style="height: 40px;"></div>
      <button id="save-user-button" style="color:#FFFFFF;" class="button button-positive button-block" type="submit">Save User</button>
    
      <div class="spacer" style="height: 40px;"></div>
      <button id="show-users-button" style="color:#FFFFFF;" class="button button-positive button-block" ng-click="showUsers()">Show Users</button>
    </form>
  </ion-content>
</ion-view>